// Define color variables...
$primary-color: #764802;
$secondary-color: #ecdab9;
$background-color: #fff5e1;

// Define font variables...
$heading-font: "Playfair Display", serif;
$heading-font-weight: 500;
$text-font: "Playfair Display", serif;
$text-font-weight: 400;

// Import Google Fonts
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700&display=swap");

/* Body styles */
body {
  margin: 0;
  padding: 0;
  font-family: $text-font;
  background-color: $background-color;
  color: $primary-color;
}

/* Heading styles */
h1,
h2,
h3 {
  font-family: $heading-font;
  font-weight: $heading-font-weight;
  color: $primary-color;
}

/* Paragraph styles */
p {
  font-size: 1rem;
  font-family: $text-font;
  font-weight: $text-font-weight;
}

/* Anchor (link) styles */
a {
  font-size: 1rem;
  text-decoration: none;
  color: $primary-color;
}

/* Container styles */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Header styles */
header {
  display: flex;
  justify-content: center;
  background-color: $primary-color;

  /* Menu styles */
  .menu {
    list-style-type: none;
    margin: 0;
    text-align: center;
    padding: 0;
    display: flex;
    align-items: center;

    /* Menu item styles */
    li {
      display: inline-block;
      margin-left: 20px;

      /* Logo styles */
      .logo {
        width: 100px;
      }

      /* Anchor styles */
      a {
        display: block;
        padding: 10px;
        color: #fff;
        transition: color 0.3s ease;

        &:hover {
          color: grey;
        }
      }

      /* Active menu item styles */
      &.active {
        color: grey;
      }
    }
  }
}

/* Main content styles */
main {
  /* Line separator styles */
  .line {
    width: 100%;
    height: 2px;
    background-color: $primary-color;
    border-radius: 5px;
    margin: 15px 0;
  }

  /* Specials section styles */
  .specials-section {
    margin-top: 20px;
    padding: 0 20px;

    /* Specials list styles */
    .specials {
      text-align: center;

      /* Unordered list styles */
      ul {
        list-style-type: disc;
        padding-left: 20px;
        text-align: left;

        /* List item styles */
        li {
          margin-bottom: 10px;
        }
      }
    }
  }

  /* Slideshow container styles */
  .slideshow-container {
    width: 100%;
    position: relative;
    margin: 0;
    overflow: hidden;

    /* Slides styles */
    .mySlides {
      display: none;
    }

    /* Previous and Next buttons styles */
    .prev,
    .next {
      cursor: pointer;
      position: absolute;
      top: 50%;
      width: auto;
      margin-top: -22px;
      padding: 16px;
      color: white;
      font-weight: bold;
      font-size: 18px;
      transition: 0.6s ease;
      border-radius: 0 3px 3px 0;
      user-select: none;

      /* Next button styles */
      &.next {
        right: 0;
        border-radius: 3px 0 0 3px;
      }

      &:hover {
        background-color: rgba(0, 0, 0, 0.8);
      }
    }

    /* Number text styles */
    .numbertext {
      color: #3f3f3f;
      font-size: 22px;
      position: absolute;
    }

    /* Dot styles */
    .dot {
      cursor: pointer;
      height: 15px;
      width: 15px;
      margin: 0 2px;
      background-color: #bbb;
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease;

      /* Active dot styles */
      &.active,
      &:hover {
        background-color: #717171;
      }
    }

    /* Fade animation styles */
    .fade {
      animation-name: fade;
      animation-duration: 1.5s;

      @keyframes fade {
        from {
          opacity: 0.4;
        }
        to {
          opacity: 1;
        }
      }
    }
  }

  /* Content wrapper styles */
  .content-wrapper {
    display: flex;

    /* Text container and image container styles */
    .text-container,
    .image-container {
      flex: 1;
      text-align: left;
      margin: 0 5%;

      /* Image container styles */
      &.image-container {
        text-align: right;

        img {
          border-radius: 3%;
          max-width: 80%;
          height: auto;
        }
      }
    }
  }

  /* About section styles */
  .about {
    padding: 0 5%;
  }

  /* Menu section styles */
  .menu {
    text-align: center;

    h1 {
      margin-bottom: 20px;
    }

    /* Menu items styles */
    .menu-items {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      /* Menu item styles */
      .menu-item {
        width: 320px;
        margin: 10px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;

        h3 {
          margin-top: 0;
        }

        &:hover {
          transform: scale(1.05);
          transition: 500ms;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        }
      }
    }
  }
}

/* Footer styles */
footer {
  background-color: $secondary-color;
  color: #fff;
  padding: 20px;

  /* Footer content styles */
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    /* Social media styles */
    .social-media {
      ul {
        list-style-type: none;
        padding: 0;
        margin: 0;

        li {
          display: inline-block;
          margin-right: 10px;

          a {
            display: block;
            color: #fff;

            i {
              font-size: 20px;
            }
          }
        }
      }
    }

    /* Newsletter styles */
    .newsletter {
      input[type="email"] {
        width: 200px;
        padding: 10px;
        margin-right: 10px;
      }

      button {
        padding: 10px 20px;
        background-color: $primary-color;
        color: #fff;
        border: none;
        cursor: pointer;
      }
    }
  }

  .footer-text {
    text-align: center;
    margin-top: 20px;
  }
}

/* Media queries for responsive design */

/* Media query for screens up to 480px wide */
@media (max-width: 480px) {
  /* Header styles */
  header {
    overflow-x: hidden;

    /* Menu styles */
    .menu {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      align-items: center;
      justify-content: center;
      grid-gap: 0;

      /* Logo container styles */
      .logo-container {
        grid-column: 2 / span 1;
        grid-row: 1 / span 3;
      }

      /* Menu item styles */
      li:nth-child(1) {
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
      }

      li:nth-child(2) {
        grid-column: 1 / span 1;
        grid-row: 2 / span 1;
      }

      li:nth-child(4) {
        grid-column: 3 / span 1;
        grid-row: 1 / span 1;
      }

      li:nth-child(5) {
        grid-column: 3 / span 1;
        grid-row: 2 / span 1;
      }
    }
  }

  /* Main section styles */
  main {
    /* Line styles */
    .line {
      margin: 5px 0;
    }

    /* Slideshow container styles */
    .slideshow-container {
      /* Previous and Next button styles */
      .prev,
      .next {
        padding: 8px;
        font-size: 14px;
      }

      /* Number text styles */
      .numbertext {
        font-size: 15px;
      }
    }

    /* Content wrapper styles */
    .content-wrapper {
      flex-direction: column-reverse;

      /* Text container and image container styles */
      .text-container,
      .image-container {
        margin: 0;
      }

      /* Text container styles */
      .text-container {
        padding-top: 20px;
        margin-left: 10px;
        margin-right: 10px;
        text-align: center;
      }

      /* Image container styles */
      .image-container {
        margin-right: 20%;
      }
    }

    /* Menu styles */
    .menu {
      /* Menu items styles */
      .menu-items {
        /* Menu item styles */
        .menu-item {
          width: 100%;
        }
      }
    }

    /* About section styles */
    .about {
      text-align: center;
    }
  }

  /* Footer styles */
  footer {
    /* Footer content styles */
    .footer-content {
      flex-direction: column;
      text-align: center;

      /* Social media styles */
      .social-media {
        margin-left: auto;
        margin-right: auto;

        ul {
          text-align: center;
          margin-bottom: 10px;
        }
      }

      /* Newsletter styles */
      .newsletter {
        margin-left: auto;
        margin-right: auto;

        input[type="email"] {
          width: auto;
          margin-bottom: 10px;
        }

        button {
          width: 50%;
        }
      }
    }
  }
}

/* Media query for screens between 481px and 1024px wide */
@media (min-width: 481px) and (max-width: 1024px) {
  /* Header styles */
  header {
    /* Menu styles */
    .menu {
      justify-content: space-between;

      /* Menu item styles */
      li {
        margin-left: 10px;
        margin-right: 10px;
      }
    }
  }

  /* Main section styles */
  main {
    /* Content wrapper styles */
    .content-wrapper {
      flex-direction: column;

      /* Text container and image container styles */
      .text-container,
      .image-container {
        margin: 0;
      }

      /* Text container styles */
      .text-container {
        padding-top: 20px;
        margin-left: 10px;
        margin-right: 10px;
        text-align: center;
      }

      /* Image container styles */
      .image-container {
        margin-right: 20%;
      }
    }

    /* Menu styles */
    .menu {
      /* Menu items styles */
      .menu-items {
        justify-content: center;

        /* Menu item styles */
        .menu-item {
          width: 320px;
          margin: 10px;
        }
      }
    }

    /* About section styles */
    .about {
      text-align: center;
    }
  }

  /* Footer styles */
  footer {
    /* Footer content styles */
    .footer-content {
      flex-direction: column;
      text-align: center;

      /* Social media styles */
      .social-media {
        margin-left: auto;
        margin-right: auto;

        ul {
          text-align: center;
          margin-bottom: 10px;
        }
      }

      /* Newsletter styles */
      .newsletter {
        margin-left: auto;
        margin-right: auto;

        input[type="email"] {
          width: auto;
          margin-bottom: 10px;
        }

        button {
          width: 50%;
        }
      }
    }
  }
}
